@{
    ViewData["Title"] = "Developer's Page";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="span3 well">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="~/img/me.jpg" name="aboutme" width="250" height="300" class="img-circle"></a>
            <h3>Shadiyar Amanbay</h3>
            <em>click my face for more</em>
        </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Shadiyar</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="~/img/me.jpg" name="aboutme" width="150" height="200" border="0" class="img-circle"></a>
                        <h3 class="media-heading">Shadiyar Amanbay <small>Kazakhstan</small></h3>
                        <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows 10</span>
                    </center>
                    <hr>
                    <center>
                        <p class="text-left">
                            <strong>Bio: </strong><br>
                            Student of Internation Information Technology University
                        </p>
                        <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">He is good.</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
